@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
body {
  margin: 0;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
  background-color: #181f2a;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 60px;
}

.header__logo {
  width: 140px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}

.header__link {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.55;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__link:hover {
  cursor: pointer;
  opacity: 1;
}

.header__link:hover {
  text-decoration: underline;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 90px 0;
  text-align: center;
}

.intro__img {
  width: 600px;
  margin: 20px 0 45px;
}

.intro__heading {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 51px;
  max-width: 600px;
  margin: 0;
}

.intro__paragraph {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.2px;
  line-height: 29.75px;
  max-width: 550px;
  margin: 0;
  margin: 25px 0 30px 0;
}

.intro__btn {
  width: 270px;
  background: linear-gradient(120deg, #65e2d9, #339ecc 60%);
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 18px;
  border: none;
  border-radius: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.intro__btn:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.25);
          filter: brightness(1.25);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 100px 0;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 40px 0 50px 0;
}

.features__img {
  width: 70px;
  margin: 0 0 23px 0;
}

.features__heading {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 34.5px;
  max-width: 600px;
  margin: 0;
  margin: 0 0 5px 0;
}

.features__paragraph {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.2px;
  line-height: 24.5px;
  max-width: 550px;
  margin: 0;
  width: 65%;
}

.highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 150px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 50px;
}

.highlight__img {
  width: 550px;
  margin: 0 50px 0 0;
}

.highlight__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.highlight__heading {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 52.5px;
  max-width: 600px;
  margin: 0;
  width: 70%;
}

.highlight__paragraph {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.2px;
  line-height: 28px;
  max-width: 550px;
  margin: 0;
  margin: 14px 0 0 0;
}

.highlight__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 23px 0 0 0;
}

.highlight__link {
  color: #65e2d9;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 7px;
  letter-spacing: 0.2px;
  margin: 0 5px 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.highlight__link:hover {
  cursor: pointer;
  color: white;
}

.highlight__icon {
  width: 21px;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 100px 0;
}

.testimonials__testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #202a3c;
}

.testimonials__testimonial-paragraph {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.2px;
  line-height: 28px;
  max-width: 550px;
  margin: 0;
}

.testimonials__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonials__name {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 36px;
  max-width: 600px;
  margin: 0;
}

.testimonials__title {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.2px;
  line-height: 28px;
  max-width: 550px;
  margin: 0;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 100px 0;
  background-color: #1c2431;
}

.cta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cta__heading {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 36px;
  max-width: 600px;
  margin: 0;
}

.cta__paragraph {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.2px;
  line-height: 28px;
  max-width: 550px;
  margin: 0;
}

.cta__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cta__email-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cta__error-msg {
  color: #ff4242;
  font-family: "Open Sans", sans-serif;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background-color: #0b1523;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__icon-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__paragraph {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.2px;
  line-height: 28px;
  max-width: 550px;
  margin: 0;
}

.footer__link {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.55;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 1;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__social-icon {
  color: white;
}
/*# sourceMappingURL=style.css.map */